/* Recent posts thumbs css */
img {
    border: 0;
    vertical-align: middle;
}
.wp_recent_posts_thumbs_item {
    margin-bottom: 15px;
}
.wp_recent_posts_thumbs_item:last-child {
    margin-bottom: 0;
}
.wp_recent_posts_list .wp_recent_posts_thumbs_item,
.wp_recent_posts_fist_large .wp_recent_posts_thumbs_item:nth-child(n+2) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.wp_recent_posts_list .wp_recent_posts_thumbs_item--image,
.wp_recent_posts_fist_large .wp_recent_posts_thumbs_item:nth-child(n+2) .wp_recent_posts_thumbs_item--image {
    max-width: 80px;
    margin-right: 15px;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.wp_recent_posts_thumbs_item--title {
    font-size: 16px;
}
.wp_recent_posts_thumbs_item--meta {
    color: #aaaaaa;
}
.wp_recent_posts_fist_large .wp_recent_posts_thumbs_item:first-child .wp_recent_posts_thumbs_item--image {
    margin-bottom: 15px;
}
.wp_recent_posts_fist_large .wp_recent_posts_thumbs_item:first-child .wp_recent_posts_thumbs_item--image img {
    width: 100%;
}
.wp_recent_posts_thumbs_item--describe {
    margin-top: 10px;
}
.wp_recent_posts_thumbs_item--describe p:last-child {
    margin-bottom: 0;
}